<ion-view title="{{building.number}} {{building.street}}">
    <!--div class="bar bar-subheader item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-ios7-search placeholder-icon"></i>
            <input id="searchKey" type="search" placeholder="Search" ng-model="searchKey" autocorrect="off" >
            <button class="button button-clear" ng-click="clearSearch()">X</button>
        </label>
        <button class="button button-clear" ng-click="search()">Search</button>
    </div-->
    <ion-content class="has-header has-subheader">
        <ion-list>
            <ion-item ng-repeat="property in properties" type="item-text-wrap" class="item-avatar" href="#/tab/buildings/{{building.id}}/properties/{{property.id}}">
                <div class='horizontal building-address text-center'>Apt {{property.unit_number}}</div>
                <div class='horizontal building-info'>
                {{property.furnished ? "Furnished" : "Unfurnished"}}
                <p> {{property.bedrooms}} BR / {{property.bathrooms}} BR; {{building.squareFeet}} {{building.city}} </p>
                </div>
                <a class="button button-icon icon ion-edit" href="#/tab/buildings/{{building.id}}/properties/{{property.id}}/edit"></a>
                <a class="button button-icon icon ion-trash-b" ng-click="delete(property.id)"></a>
            </ion-item>
            <ion-item> 
                <a class="button item-icon-left" href="#/tab/buildings/{{building.id}}/properties/new">
                    <i class="icon ion-plus"></i>
                </a>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
