<ion-tabs class="tabs-icon-top">
 
 <!-- Dashboard Tab -->
 <ion-tab title="Dashboard" icon="icon ion-pie-graph" href="#/tab/dash">
 <ion-nav-view name="tab-dash"></ion-nav-view>
 </ion-tab>

 <!-- Calendar Tab -->
 <ion-tab title="Calendar" icon="ion-calendar" href="#/tab/calendar">
 <ion-nav-view name="tab-calendar"></ion-nav-view>
 </ion-tab>

  <!-- Home Tab -->
 <ion-tab title="Guests" icon="icon ion-person" href="#/tab/guests">
 <ion-nav-view name="tab-guests"></ion-nav-view>
 </ion-tab>

 <!-- Home Tab -->
 <!--<ion-tab title="Spaces" icon="icon ion-home" href="#/tab/search">
 <ion-nav-view name="tab-search"></ion-nav-view>
 </ion-tab>-->

  <!-- Home Tab -->
 <ion-tab title="Buildings" icon="icon ion-home" href="#/tab/buildings">
 <ion-nav-view name="tab-buildings"></ion-nav-view>
 </ion-tab>

 <!-- Dashboard Tab -->
 <ion-tab title="More" icon="icon ion-more" href="#/tab/more">
 <ion-nav-view name="tab-more"></ion-nav-view>
 </ion-tab>
 
 <!-- Account Tab -->
 <!--<ion-tab title="Account" icon="icon ion-gear-b" href="#/tab/account">
 <ion-nav-view name="tab-account"></ion-nav-view>
 </ion-tab>-->
 
</ion-tabs>
